doctype html
html(lang="es")
	head
		meta(charset="utf8")
		link(rel="stylesheet", href="style.css")
		title Polo 360 | My Kind Of Business Blog
	body
		.wrapper
			header.header
				nav.navbar
					img.logo(src="img/logo.png", alt="Logo Polo 360" width="250px")
					section
						ul.menu
							li.item
								a(href="#")
									p.main-item Home
								p.sub Back to home
							li.item
								a(href="#")
									p.main-item Products
								p.sub What we have for you
							li.item
								a(href="#")
									p.main-item Services
								p.sub Thing we do
							li.item
								a(href="#")
									p.main-item Blog
								p.sub Follor our updates
							li.item
								a(href="#")
									p.main-item Contact <br>
								p.sub Ways to reach us
			section.slider
				div.main
					img(src="img/slide1.png")
					h3  Lorem ipsum dolor sit amet, consectetur adipisicing elite
			section.posts
				article
					h4.title Perfect Logic
					p.sub All you want your website to do.
					img(src="img/Layer 19.png", alt="")
					p.desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
					a.btn Learn More
				article
					h4.title Complete Solution
					p.sub A tool anything and everything you can think
					img(src="img/Layer 17.png", alt="")
					p.desc Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciun tdolore magnam aliquam quaerat voluptatem.
					a.btn Learn More
				article
					h4.title Uber Culture
					p.sub Fresh. Modern and ready for future
					img(src="img/Layer 15.png", alt="")
					p.desc Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					a.btn Learn More
			section.widgets
				section.social
					h5 Social Connection
					p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
					div.icons
						a.icon 
						img(src="img/social/Layer 21.png", alt="")
						img(src="img/social/Layer 22.png", alt="")
						img(src="img/social/Layer 23.png", alt="")
						img(src="img/social/Layer 24.png", alt="")
						img(src="img/social/Layer 25.png", alt="")
					h5 Newsletter
					p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
					form
						input(type="text")
						input(type="submit" value="Subscribe")
				section.contact
					h5 Contact
					form
						input(type="text" placeholder="your name")
						input(type="email" placeholder="your email address")
						input(type="textarea" placeholder="message")
						input(type="submit" value="Send it")
				section.news
					article
						img(src="img/updates/Layer 35.png", alt="")
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					article
						img(src="img/updates/Layer 34.png", alt="")
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					article
						img(src="img/updates/Layer 35.png", alt="")
						p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
					input(type="submit" value="Visit our Blog")
			section.footer
				section
					p Site Powered by Wordpress. Design and Developed by VIVROCKS.
					p Home | About | Products | Services | Contact
					p Privacy Policy | Terms of use
				section
					p Copyright 2010. Studio VIVROCKS. All Rights Reserved.